/* a:link, a:visited {
    background-color:#fff;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #ccc!important;
  }
  
  a:hover, a:active {
    background-color: #4CAF50;
  } */